*
**/*_test.go
!.git
!agent
!command
!contrib/mage
!fixture
!lib
!manifest
!proto
!testdata


!cmd
!internal
!pkg
!api
!sdk
!physical
!go.mod
!go.sum
!Justfile
!Makefile
!magefile.go
!tools.go
!.goreleaser.yml
